
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<!-- Breadcrumb section -->
<div class="site-breadcrumb">
    <div class="container">
        <a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-right"></i>
        <span>Contact</span>
    </div>
</div>
<!-- Breadcrumb section end -->
<!-- Courses section -->
<section class="contact-page spad pt-0">
    <div class="container">
        <div class="map-section">
            <div class="contact-info-warp">
                <div class="contact-info">
                    <h4>Address</h4>
                    <p>40 Baria Street 133/2, NewYork City, US</p>
                </div>
                <div class="contact-info">
                    <h4>Phone</h4>
                    <p>(+88) 111 555 666</p>
                </div>
                <div class="contact-info">
                    <h4>Email</h4>
                    <p>infodeercreative@gmail.com</p>
                </div>
                <div class="contact-info">
                    <h4>Working time</h4>
                    <p>Monday - Friday: 08 AM - 06 PM</p>
                </div>
            </div>
            <!-- Google map -->
            <div class="map" id="map-canvas"></div>
        </div>
        <div class="contact-form spad pb-0">
            <div class="section-title text-center">
                <h3>GET IN TOUCH</h3>
                <p>Contact us for best deals and offer</p>
            </div>

            @using (Html.BeginForm("EmailSubmit", "mainHome", FormMethod.Post, new { enctype = "multipart/form-data" , @class = "comment-form --contact" }))
            {
                <div class="row">
                    <div class="col-lg-4">
                        <input type="text" name="name" id="name" placeholder="Your Name">
                    </div>
                    <div class="col-lg-4">
                        <input type="text" name="email" id="email" placeholder="Your Email">
                    </div>
                    <div class="col-lg-4">
                        <input type="text" name="Subject" id="Subject" placeholder="Subject">
                    </div>
                    <div class="col-lg-12">
                        <textarea placeholder="Message" name="message" id="message"></textarea>
                        <div class="text-center">
                            <input type="submit" value="SUBMIT" class="site-btn" />
                        </div>
                    </div>
                </div>
                
                
                
                <br />
                <br />
            }
            
        </div>
    </div>
</section>
<!-- Courses section end-->
<!-- Newsletter section -->

<!-- load for map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
<script src="~/Scripts/js/map.js"></script>

<!-- Newsletter section end -->
